<div id="container">

  <div id="logo">
    <h2>Wspomnienia Kozaka<h2>
  </div>

  <div id="menu">
    <div class = "option"><%= link_to('Strona główna', :controller => "home", :action => "index")%> </div>
    <div class = "option"><%= link_to('Logowanie', :controller => "home", :action => "index")%> </div>
    <div style = "clear:both;"> </div>

  </div>

  <div id="content">
    <h2>Co znajdziesz w serwisie</h2>
    </br></br>
    <div class="logo"> <%= image_tag("kozak.jpeg", width: '500px') %></div>

    <h3>Serwis zawiera najbardziej kozackie zdjęcia, filmy i wpisy na świecie. Zarejestruj się i dodaj własne.</h3>
    </br></br>

  </div>

  <div id="footer">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget nibh interdum, mattis ante sit amet, fringilla ex. Ut elementum sem sed ipsum pharetra tempor. In vel tempus nibh, ac ultrices dolor. In hac habitasse platea dictumst. Proin turpis libero, pharetra vitae velit eu, dictum bibendum nisi. Praesent auctor urna sit amet ante molestie iaculis. Suspendisse non scelerisque mauris, eu convallis orci. &copy; Wszelkie prawa zastrzeżone.

  </div>
